turned off the pager, \pset pager off.

node_modules/
.env
*.log
.DS_Store


id:
{
        "id": 22,
        "tmdb_id": 1396,
        "title": "Breaking Bad",
        "type": "tv_show",
        "poster_url": "https://image.tmdb.org/t/p/w500/ggFHVNu6YYI5L9pCfOacjizRGt.jpg",
        "release_year": 2008,
        "genre": "Crime"
    }
